Repository Elle624/favo, pull requests merged in 2021-01, with the labels that each got.

#1 Feature/user
  .eslintcache
  package-lock.json
  package.json
  src/App.css
  src/App.js
  src/App.test.js
  src/Assets/star.png
  src/Components/App/App.scss
  src/Components/App/index.js
  src/Components/User/User.scss
  src/Components/User/User.test.js
  src/Components/User/index.js
  src/apiCalls.js
  src/index.css
  src/index.js
  src/logo.svg
  src/reportWebVitals.js
  src/setupTests.js
  src/styles/_variables.scss
Labels: React, SASS/CSS

#11 Feature/postings
  .eslintcache
  src/Components/App/App.scss
  src/Components/App/index.js
  src/Components/PostingCard/index.js
  src/Components/PostingCard/postingCard.scss
  src/Components/PostingView/index.js
  src/Components/PostingView/postingView.scss
  src/Components/Postings/index.js
  src/Components/Postings/postings.scss
  src/Components/User/User.scss
  src/Components/User/index.js
  src/apiCalls.js
Labels: React, Refactoring, SASS/CSS, enhancement

#15 Fix styling for components that overlapp each other
  .eslintcache
  src/Components/App/App.scss
  src/Components/PostingView/PostingView.scss
  src/Components/PostingView/index.js
  src/Components/Postings/Postings.scss
  src/Components/User/User.scss
  src/Components/User/index.js
Labels: Refactoring, SASS/CSS, enhancement

#17 Feature/search
  .eslintcache
  src/Components/App/index.js
  src/Components/Navigation/Navigation.scss
  src/Components/Navigation/index.js
  src/Components/PostingView/PostingView.scss
  src/Components/PostingView/index.js
  src/Components/Postings/index.js
  src/apiCalls.js
Labels: First Priority, React, enhancement

#20 Fix/reload postings view bug
  .eslintcache
  src/Components/App/index.js
  src/Components/PostingView/index.js
Labels: React, bug

#23 add user sidebar toggle functionaly
  .eslintcache
  src/Assets/back-button.png
  src/Assets/left-chevron.png
  src/Assets/right-chevron.png
  src/Components/PostingView/PostingView.scss
  src/Components/PostingView/index.js
  src/Components/Postings/Postings.scss
  src/Components/User/User.scss
  src/Components/User/index.js
Labels: React, SASS/CSS, enhancement

#25 Feature/filter
  src/Components/App/index.js
  src/Components/Navigation/index.js
  src/Components/PostingView/index.js
  src/Components/Postings/index.js
Labels: First Priority, React, enhancement

#26 Feature/sorting by date method
  .eslintcache
  src/Assets/sort-button.png
  src/Components/App/index.js
  src/Components/Navigation/index.js
  src/Components/Postings/index.js
Labels: React, enhancement

#28 Test/user info
  .eslintcache
  cypress/integration/User_test.js
  package-lock.json
  package.json
  src/Components/App/App.scss
  src/Components/Navigation/index.js
  src/Components/PostingView/PostingView.scss
  src/Components/PostingView/index.js
  src/Components/Postings/Postings.scss
  src/Components/User/User.scss
  src/Components/User/User.test.js
  src/Components/User/index.js
Labels: Cypress

#39 Test/postings
  .eslintcache
  cypress/integration/Postings_test.js
  cypress/integration/User_test.js
  cypress/integration/_ mockData.js
  package.json
  src/Assets/asce-sort-button.png
  src/Assets/desc-sort-button.png
  src/Assets/sort-button.png
  src/Components/App/App.scss
  src/Components/App/index.js
  src/Components/Navigation/Navigation.scss
  src/Components/Navigation/index.js
  src/Components/PostingCard/PostingCard.scss
  src/Components/PostingCard/index.js
  src/Components/PostingView/PostingView.scss
  src/Components/PostingView/index.js
  src/Components/Postings/Postings.scss
  src/Components/Postings/index.js
  src/Components/User/User.scss
  src/Components/User/index.js
  src/styles/_mixins.scss
  src/styles/_variables.scss
Labels: Cypress, React, SASS/CSS, bug, enhancement

#46 Test/unit integration test react
  .eslintcache
  cypress/integration/_ mockData.js
  package-lock.json
  package.json
  src/Components/App/App.test.js
  src/Components/Navigation/Navigation.test.js
  src/Components/Navigation/index.js
  src/Components/PostingCard/PostingCard.test.js
  src/Components/PostingCard/index.js
  src/Components/PostingView/PostingView.test.js
  src/Components/PostingView/index.js
  src/Components/Postings/Postings.test.js
  src/Components/Postings/index.js
  src/Components/User/User.test.js
  src/Components/User/index.js
  src/TestData/_mockData.js
  src/apiCalls.js
Labels: React, testing

#47 Test/single event page
  cypress/integration/EventView_test.js
  cypress/integration/Postings_test.js
  cypress/integration/User_test.js
  src/Components/PostingView/index.js
Labels: Cypress, testing

#48 Refactor/tests
  .eslintcache
  .gitignore
  cypress/integration/EventView_test.js
  cypress/integration/Postings_test.js
  cypress/integration/User_test.js
  package.json
  src/Components/App/App.test.js
  src/Components/PostingView/index.js
  src/apiCalls.js
Labels: Cypress, Refactoring, testing

#51 Feature/welcome page
  .eslintcache
  src/Assets/homepage-button.png
  src/Components/App/App.test.js
  src/Components/App/index.js
  src/Components/PostingView/PostingView.test.js
  src/Components/PostingView/index.js
  src/Components/WelcomePage/WelcomePage.scss
  src/Components/WelcomePage/WelcomePage.test.js
  src/Components/WelcomePage/index.js
Labels: React, SASS/CSS, enhancement, testing

#52 Refactor/UI
  .eslintcache
  cypress.json
  cypress/integration/EventView_test.js
  cypress/integration/Postings_test.js
  cypress/integration/User_test.js
  cypress/integration/Welcome_test.js
  package.json
  public/index.html
  src/Components/App/App.scss
  src/Components/App/App.test.js
  src/Components/App/index.js
  src/Components/Loading/Loading.scss
  src/Components/Loading/index.js
  src/Components/Navigation/Navigation.scss
  src/Components/PostingView/PostingView.scss
  src/Components/PostingView/PostingView.test.js
  src/Components/PostingView/index.js
  src/Components/Postings/Postings.scss
  src/Components/Postings/index.js
  src/Components/User/User.scss
  src/Components/User/index.js
  src/styles/_mixins.scss
Labels: SASS/CSS

#54 eslint updates -- all fixed
  .eslintcache
  package.json
  src/Components/User/index.js
Labels: Refactoring

#56 Feature/error handling
  .eslintcache
  src/Components/App/index.js
  src/Components/ErrorPage/ErrorPage.scss
  src/Components/ErrorPage/index.js
Labels: React, enhancement

#57 Documentation/readme
  .eslintcache
  README.md
Labels: documentation

#59 Fix/upcoming jobs link
  .eslintcache
  src/Components/App/index.js
  src/Components/PostingView/PostingView.test.js
  src/Components/PostingView/index.js
Labels: bug

#63 Feature/user progress ring
  .eslintcache
  cypress/integration/User_test.js
  package-lock.json
  package.json
  src/Components/App/App.test.js
  src/Components/PostingView/PostingView.scss
  src/Components/Postings/Postings.scss
  src/Components/ProgressRing/ProgressRing.scss
  src/Components/ProgressRing/index.js
  src/Components/User/User.scss
  src/Components/User/User.test.js
  src/Components/User/index.js
  src/TestData/_mockData.js
  src/apiCalls.js
  src/styles/_mixins.scss
Labels: Refactoring, SASS/CSS, bug, enhancement, testing

#68 Refactor/nav
  .eslintcache
  cypress/integration/Postings_test.js
  src/Components/App/App.test.js
  src/Components/App/index.js
  src/Components/Navigation/Navigation.scss
  src/Components/Navigation/Navigation.test.js
  src/Components/Navigation/index.js
  src/Components/Postings/index.js
  src/Components/ProgressRing/index.js
  src/apiCalls.js
Labels: Cypress, Enhancement, Refactoring, Testing
